Source: monkey
Section: httpd
Priority: optional
Maintainer: Eduardo Silva <edsiper@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libpolarssl-dev
Standards-Version: 3.9.1
Homepage: http://monkey-project.com
Vcs-Git: git://git.monkey-project.com/monkey
Vcs-Browser: http://git.monkey-project.com/?p=monkey

Package: monkey
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast and lightweight Web Server for Linux.
 Monkey HTTP Daemon has been designed to be very scalable with low memory 
 and CPU consumption, the perfect solution for embedded environments. It 
 also provides a flexible API and plugins interface.

Package: monkey-polarssl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, monkey
Description: SSL layer for Monkey Web Server based in PolarSSL.
 Monkey HTTP Daemon has been designed to be very scalable with low memory
 and CPU consumption, the perfect solution for embedded environments. It
 also provides a flexible API and plugins interface. This plugin adds SSL
 capabilities to Monkey.

Package: monkey-dev
Architecture: any
Depends: ${misc:Depends}, monkey (= ${binary:Version})
Description: Monkey HTTP Daemon development files
 Monkey HTTP Daemon has been designed to be very scalable with low memory 
 and CPU consumption, the perfect solution for embedded environments. It 
 also provides a flexible API and plugins interface.

Package: monkey-doc
Architecture: all
Description: Monkey documentation
 Monkey HTTP Daemon documentation.

