#!/usr/bin/make -f

%:
	dh $@ --with autotools_dev

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr	\
		--bindir=/usr/sbin		\
		--mandir=/usr/share/man		\
		--sysconfdir=/etc/monkey	\
		--datadir=/var/www/monkey	\
		--logdir=/var/log/monkey	\
		--default-user=www-data 	\
		--plugdir=/usr/lib/monkey	\
		--enable-plugins="auth,liana,liana_ssl,mandril,cheetah,cgi,logger,palm,dirlisting"    \
		--disable-plugins="*"
